---
import BasicLayout from "../layout/BasicLayout.astro";
---

<BasicLayout>
    <div class="mx-auto p-4 bg-white h-screen">
        <h1 class="text-4xl text-center p-4">Sök bok</h1>
        <input class="p-2 border-2 w-full mb-4" name="search" type="search" placeholder="Sök" 
        hx-trigger="input changed delay:500ms, search" 
        hx-post="/api/books" 
        hx-target="#target" 
        hx-indicator="#target"
        />
        <div transition:name="search" transition:persist id="target" class="flex flex-col gap-4"></div>
    </div>
</BasicLayout>