<nav class="bg-white p-4 max-w-5xl mx-auto">
    <ul class="flex flex-row justify-end">
        <li class="p-4"><a href="/">Index</a></li>
        <li class="p-4"><a href="/posts/1">Blogg</a></li>
        <li class="p-4"><a href="/library/1">Bibliotek</a></li>
    </ul>
</nav>