<nav class="p-4 max-w-7xl mx-auto bg-amber-200">
    <ul class="flex flex-row justify-end">
        <li class="p-4"><a href="/">Start</a></li>
        <li class="p-4"><a href="/library/1">Bibliotek</a></li>
        <li class="p-4"><a href="/search">Sök bok</a></li>
    </ul>
</nav>